/* ---------------------------- CONTAINER GLOBAL ---------------------------- */
$maxWidth: 90; /* 1440px */
$maxWidthContainer: 62.5; /* 1000px */

/* --------------------------------- COLORS --------------------------------- */
$color: rgb(24, 24, 24);
$font-color:#bbbbbb;
$middle-color: rgb(42, 42, 42);
$accent-color: rgb(116, 200, 236);

/* --------------------------------- SHADOWS -------------------------------- */
$light-shadow: 0 9px 4px hsla(0, 0%, 0%, 0.2);
// Охватывает всю страницу
$border-shadow: 0 3px 20px hsla(0, 0%, 0%, 0.398);
